<div class="container">
  <div class="row"> 
    <div class="responsive">
      <div class="container col-sm-12 col-lg-12">
        <table class="all_list" align="center">
        <h1 class="left" style="margin-bottom:25pt display: inline-block">Students of Class {{this.id}}</h1>
          <a style="display:inline-block; float:right" data-toggle="modal" data-target="#add-students" >Add Student</a>
        <tr>
          <th>Student Number</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
        {{#each students}}
        <tr>
          <td>{{this.student_number}}</td>
          <td>{{this.first_name}} {{this.last_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.phone}}</td>
          <td><a href="#">See More</a></td>
        </tr>
        {{/each}}
        </table>
       </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-students" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <form method="POST" action="{{this.id}}/addStudent">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Select Students</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <select style="width: 100%" multiple id="student-list" name="class_id" data-class-id="{{this.class_id}}">
                {{#each noClass}}
                  <option name="student_id" id="student_id" value='{{this.id}}'>
                    <div>{{this.student_number}}</div>
                    <div><em>{{this.first_name}} {{this.last_name}}</em></div>
                  </option>
                {{/each}}
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="save-class-students">Save changes</button>
        </div>
    </div>
  </div>
  </form>
</div>