<div class="container">
  <div class="row"> 
    <div class="responsive">
      <div class="container col-sm-12 col-lg-12">
        <table class="all_list" align="center">
        <h1 class="left" style="margin-bottom:25pt display: inline-block">Students</h1>
        <a href="/admin/add_student" style="display:inline-block; float:right">Add Student</a>
        <tr>
          <th>Student Number</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
        {{#each students}}
        <tr>
          <td>{{this.student_number}}</td>
          <td>{{this.first_name}} {{this.last_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.phone}}</td>
          <td><a href="#">See More</a></td>
        </tr>
        {{/each}}
        </table>
       </div>
    </div>
  </div>
</div>