<div class="container">
  <div class="row"> 
    <div class="responsive">
      <div class="container col-sm-12 col-lg-12">
<h1><p>{{this.first_name}} {{this.last_name}}</p></h1>
</div>

<div style="font-size: 15px; margin: auto;">
  <p style="margin-left: 15px;">Student Number: {{this.student_number}}</p>
  <p style="margin-left: 15px;">Email Address: {{this.email}}</p>
  <p style="margin-left: 15px;">Phone: {{this.phone}}</p>
</div>
             

       </div>
    </div>
  </div>
</div>